:root {
    --uber-black: #000000;
    --uber-dark: #121212;
    --uber-green: #00ff5f;
    --uber-gray: #1e1e1e;
    --uber-text: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--uber-black);
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--uber-text);
    padding: 0;
}

/* Contenido Principal a lo largo de toda la pantalla */
.main-content {
    text-align: center;
    width: 100%;
    padding: 60px 20px;
    background-color: var(--uber-dark);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
}

.logo h1 {
    color: var(--uber-green);
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.5px;
    text-align: center;
}

.subtitle {
    font-size: 1.5em;
    color: var(--uber-text);
    margin-bottom: 40px;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}



.btn {
    padding: 16px 30px;
    background-color: var(--uber-green);
    color: var(--uber-black);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 255, 95, 0.2);
}

.btn-uber {
    width: auto;
}

/* Agregar sombras y bordes redondeados a los botones */
.btn-uber:active {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.footer-text {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #888;
}

.footer-text a {
    color: var(--uber-green);
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.3s;
}

.footer-text a:hover {
    opacity: 0.8;
}
